/*清空默认的样式*/
html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}#yui3-css-stamp.cssreset{display:none}
a{text-decoration: none; color: #999;list-style: none}

/*设置全局样式*/
body{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #999;
    background-color: #f5f5f5;
}
/*顶部*/
.header{
	height: 60px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}
.header_in{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.header_logo{
	width: 190px;
	height: 100%;
	float: left;
	overflow: hidden;
}
.header_nav{
	width: 720px;
	height: 100%;
	float: right;
}
.header_nav_left{
	width: 550px;
	height: 100%;
	float: left;
}
.header_nav_left ul{
	width: 550px;
	height: 100%;
}
.header_nav_left ul li{
	float: left;
	line-height: 60px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 40px;
	
}
.header_nav_right {
	width: 150px;
	height: 60px;
	float: right;
}
.header_nav_right li {
	float: right;
	line-height: 60px;
	padding-left: 10px;
}
.header_nav_right li:last-child{
	width: 20px;
	height: 30px;
	margin-top: 15px;
	float: right;
	background: url(../img/nubia-syb-all.png);
}
.header_nav li:hover a{
	color: #e82c07;
}


/*广告*/
.banner{
	margin-top: 60px;
    height: 860px;
    background-color: rgb(244,244,244);
    overflow: hidden;
}
.banner .nav{
	height: 121px;
	width: 100%;
	background-color: #fff;
	position: absolute;
    top: 60px;
    left: 0;
    z-index: 99;
}
.banner .nav .nav_center{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
.banner .nav .nav_center ul{
	width: 1200px;
	height: 100%;
	padding-left: 85px;
    padding-right: 85px;
    box-sizing: border-box;


}
.banner .nav .nav_center ul li{
	width: 120px;
	height: 100%;
	float: left;
	text-align: center;

}
.banner .nav .nav_center ul li img{
	width: 120px;
	height: 80px;
	margin-top: 10px;

}
.banner .nav .nav_center ul li:hover{
	border-bottom: 3px solid red;
	box-sizing: border-box;
}
.banner .figure .figure_img {
	width: 100%;
	height: 600px;
	text-align: center;
	position: relative;
}
.banner .figure .figure_img img{
	/*width: 100%;*/
	height: 100%;
	margin: 0 -100%;
	
}
.banner .figure .figure_img ul{
	width: 150px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	bottom: 20px;
}
.banner .figure .figure_img ul li{
	width: 15px;
	height: 15px;
	float: left;
	background-color: #ccc;
	margin-left: 10px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid transparent;
	transition: all 0.5s;
}
.banner .figure .figure_img ul li:hover{
	border: 2px solid red;
	background-color: transparent;
	transform: scale(1.2,1.2);
}
.banner .video{
	width: 1200px;
	height: 250px;
	margin: 10px auto;
	/*border: 1px solid #000;*/


}
.banner .video ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;

}
.banner .video ul li{
	width: 396px;
	height: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
	background-color: #000;
	
}
.banner .video ul li>img{
	height: 100%;
	margin: 0 -100%;

}
.banner .video .video_logo{
	width: 100%;
	height: 155px;
	position: absolute;
	bottom: 0px;
	opacity: 0;
	transition: all 0.5s;
}
.banner .video .video_logo h3{
	font-size: 16px;
	line-height: 40px;
}
.banner .video .video_logo:hover{
	opacity: 1;

}
.banner .video ul li:hover>img{
	opacity: 0.5;
}
.banner .video .video_logo:hover img{
	animation: sport 2s .5s ease-in-out infinite;

}
@keyframes sport{
	20%{  transform: scale(.8);}
    40%{  transform: scale(1.2);}
    60%{  transform: scale(.9);}
    80%{  transform: scale(1);}
    100%{  transform: scale(1);}
}

/*内容*/
.content{
	height: 1883px;
/*    background-color: blue;*/
	background-color: rgb(244,244,244);
}
.content .content_in{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
/*	background-color: gold;*/
	text-align: center;
	overflow: hidden;
}
.content .content_in dl dt{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}
.content .content_in dt h3{
	font-size: 35px;
    color: #333;
}
.content .content_in dt p{
	margin-top: 20px;
    color: #e8340e;
}
.content .content_in .content_in_first ul{
	height: 1200px;
	width: 100%;

}
/*最新手机区*/
.content .content_in .content_in_first>ul>li{
	overflow: hidden;
	text-align: center;
	position: relative;
	background-color: rgb(254,254,254);
	
}
.content .content_in .content_in_first ul li:nth-child(1){
	float: left;
	width: 100%;
	height: 395px;
	margin-bottom: 10px;
}
.content .content_in .content_in_first ul li:nth-child(2){

	float: left;
	width: 395px;
	height: 795px;
	margin-right: 10px;

}
.content .content_in .content_in_first ul li:nth-child(3){

	float: left;
	width: 795px;
    height: 390px;
    margin-bottom: 10px;
  
}
.content .content_in .content_in_first ul li:nth-child(4){
	
	float: left;
	width: 390px;
    height: 395px;
    margin-right: 10px;

}
.content .content_in .content_in_first ul li:nth-child(5){

	float: left;
	width: 395px;
    height: 395px;
}
.content .content_in .content_in_first ul li:nth-child(1) img{
	margin-top: 60px;
}
.content .content_in .content_in_first ul li img{
	width: 100%;
	transition: all 1s;
}
.content .phone_des{
	width: 200px;
	height: 90px;
	position: absolute;
	left: 50%;
    margin-left: -100px;
	text-align: center;
	
}
.content .phone_des>h3{
	font-size: 20px;
    color: #000;
}
.content .phone_des>p{
    font-size: 15px;
    margin-bottom: 10px;
}
.content .phone_des>span{
    display: inline-block;
    width: 108px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 10px;
    line-height: 32px;
}
.content .content_in .content_in_first>ul>li:nth-child(1) .phone_des{
    left: 1000px;
    bottom: 150px;

}
/*手机图片动画部分*/
.content .content_in .content_in_first>ul>li:nth-child(1) img{
	margin-left: -100px;
}
.content .content_in .content_in_first>ul>li:nth-child(1):hover img{
	margin-left: 0px;
}
.content .content_in .content_in_first>ul>li:nth-child(3) img{
	margin-left: 100px;
}
.content .content_in .content_in_first>ul>li:nth-child(3):hover img{
	margin-left: 0px;
}
.content .content_in .content_in_first ul li .img_s:hover{
	transform:scale(1.1,1.1);
}
/*最新配件区*/
.content .content_in .content_in_second{
	width: 1200px;
	height: 300px;
}
.content .content_in .content_in_second ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.content .content_in .content_in_second ul li{
	width: 295px;
	height: 300px;
	overflow: hidden;
	background-color: rgb(254,254,254);
}
.content .content_in .content_in_second ul li img{
	width: 100%;
	transition: all 0.5s;
}
.content .content_in .content_in_second ul li p{
	margin-top: 10px;
}
.content .content_in .content_in_second ul li img:hover{
	transform: scale(1.1,1.1);
}

/*底部*/
.footer{
	
	height: 396px;
    /*background-color: red;*/
    overflow: hidden;
    background-color: rgb(254,254,254);
    box-sizing: border-box;
    padding-top: 40px;
    
}
.footer .footer_in{
	height: 356px;
	width: 1050px;
	margin-top: 40px;
	border-top: 1px solid #ccc;
	/*padding-left: 160px;*/
	margin: 0 auto;
	padding-left: 50px;
	
}
.footer .footer_in p img{
	width: 14px;
	height: 14px;
}
.footer .footer_middle{
	width: 100%;
	overflow: hidden;
}
.footer .footer_in p {
	margin-top: 20px;
}
.footer .footer_in dl{
	display: block;
	width: 200px;
	float: left;
	margin-top: 20px;
}
.footer .footer_in dt{
	font-size: 14px;
	line-height: 30px;
	color: #000;
}
.footer .footer_in dd{
	line-height: 20px;
}
.footer .footer_bottom{
	width:100%;
}
.footer .footer_bottom .footer_copyright{
	margin-top: 20px;
}

.footer .footer_bottom .footer_copyright li{
	float: left;
}
.footer .footer_bottom .footer_copyright li a{
	margin: 0 10px;
	display: inline-block;
}
.footer .footer_bottom .footer_copyright li:nth-child(1) a
{
	margin-left: 0px;
}
.footer .footer_bottom .footer_social{
	margin-top: 10px;
	font-size: 20px;

}
.footer .footer_bottom .footer_social li{
	float: left;
	margin: 0 5px;
}
.footer .footer_bottom .footer_social li:nth-child(1){
	width: 30px;
	height: 30px;
	background: url(../img/nubia-syb-all.png) no-repeat 0 0;
}
.footer .footer_bottom .footer_social li:nth-child(2){
	width: 30px;
	height: 30px;
	background: url(../img/nubia-syb-all.png) no-repeat 0 0;
}
.footer .footer_bottom .footer_social li:nth-child(3){
	width: 30px;
	height: 30px;
	background: url(../img/nubia-syb-all.png) no-repeat 0 0;
}
.footer .footer_bottom .footer_social li:nth-child(4){
	width: 30px;
	height: 30px;
	background: url(../img/nubia-syb-all.png) no-repeat 0 0;
}


